attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
Cython==0.26.1
Django==1.11.5
docutils==0.14
docx==0.2.4
et-xmlfile==1.0.1
first==2.0.1
gTTS==1.2.2
gTTS-token==1.1.1
hyperlink==17.3.1
idna==2.6
image==1.5.16
PyPDF2==1.26.0
pyperclip==1.5.27
PyQt5==5.9
python-dateutil==2.6.1
pythonz-bd==1.11.4
pyttsx3==2.6
pytz==2017.2
queuelib==1.4.2
requests==2.18.4
resumable-urlretrieve==0.1.5
scapy-python3==0.21
scikit-learn==0.19.0
scipy==0.19.1
Scrapy==1.4.0
selenium==3.6.0
service-identity==17.0.0
sh==1.12.14
sip==4.19.3
six==1.10.0
SQLAlchemy==1.1.14
stevedore==1.26.0
Twisted==17.5.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
w3lib==1.18.0
wxPython==4.0.0b1
zope.interface==4.4.2
